<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="null.CourseSumMapper">
	<resultMap id="CourseSumResultMap" type="CourseSum">
		<result column="course_sum_id" property="courseSumId" />
		<result column="occupation" property="occupation" />
		<result column="application_level" property="applicationLevel" />
		<result column="course_time" property="courseTime" />
		<result column="course_count" property="courseCount" />
	</resultMap>

	<sql id="all_column">
		course_sum_id, occupation, application_level, course_time, course_count
	</sql>

	<sql id="limit">
		<if test="limit != null">
			limit
			<if test="offset != null">
			#{offset},
			</if>
			#{limit}
		</if>
	</sql>

	<insert id="insert" parameterType="CourseSum">
		insert into 
		course_sum(course_sum_id,occupation,application_level,course_time,course_count) 
		values(#{courseSumId},#{occupation},#{applicationLevel},#{courseTime},#{courseCount})
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from course_sum 
		where course_sum_id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="CourseSum">
		update course_sum
		<set>
 			<if test="courseSumId != null"> 
				course_sum_id = #{courseSumId},
			</if>
,			<if test="occupation != null"> 
				occupation = #{occupation},
			</if>
,			<if test="applicationLevel != null"> 
				application_level = #{applicationLevel},
			</if>
,			<if test="courseTime != null"> 
				course_time = #{courseTime},
			</if>
,			<if test="courseCount != null"> 
				course_count = #{courseCount},
			</if>
		</set> 
		where course_sum_id = #{courseSumId}
	</update>

	<select id="selectByPrimaryKey" resultMap="CourseSumResultMap" parameterType="int">
		select course_sum_id, occupation, application_level, course_time, course_count 
		from course_sum 
		where course_sum_id = #{id}
	</select>

	<!-- START 写在START和END中间的代码不会被替换 -->

	<!-- END 写在START和END中间的代码不会被替换-->

</mapper>