<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="null.ExaminationResultMapper">
	<resultMap id="ExaminationResultResultMap" type="ExaminationResult">
		<result column="examination_id" property="examinationId" />
		<result column="applicant_id" property="applicantId" />
		<result column="examination_type" property="examinationType" />
		<result column="examination_cat" property="examinationCat" />
		<result column="examination_certificate_no" property="examinationCertificateNo" />
		<result column="theroy_score" property="theroyScore" />
		<result column="theroy_grade" property="theroyGrade" />
		<result column="handle_score" property="handleScore" />
		<result column="handle_grade" property="handleGrade" />
		<result column="grade" property="grade" />
		<result column="examination_no" property="examinationNo" />
		<result column="grade_time" property="gradeTime" />
		<result column="fullname" property="fullname" />
		<result column="gender" property="gender" />
		<result column="identity_type" property="identityType" />
		<result column="identity_no" property="identityNo" />
		<result column="occupation" property="occupation" />
		<result column="application_level" property="applicationLevel" />
	</resultMap>

	<sql id="all_column">
		examination_id, applicant_id, examination_type, examination_cat, examination_certificate_no, theroy_score, theroy_grade, handle_score, handle_grade, grade, examination_no, grade_time, fullname, gender, identity_type, identity_no, occupation, application_level
	</sql>

	<sql id="limit">
		<if test="limit != null">
			limit
			<if test="offset != null">
			#{offset},
			</if>
			#{limit}
		</if>
	</sql>

	<insert id="insert" parameterType="ExaminationResult">
		insert into 
		examination_result(examination_id,applicant_id,examination_type,examination_cat,examination_certificate_no,theroy_score,theroy_grade,handle_score,handle_grade,grade,examination_no,grade_time,fullname,gender,identity_type,identity_no,occupation,application_level) 
		values(#{examinationId},#{applicantId},#{examinationType},#{examinationCat},#{examinationCertificateNo},#{theroyScore},#{theroyGrade},#{handleScore},#{handleGrade},#{grade},#{examinationNo},#{gradeTime},#{fullname},#{gender},#{identityType},#{identityNo},#{occupation},#{applicationLevel})
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from examination_result 
		where examination_id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="ExaminationResult">
		update examination_result
		<set>
 			<if test="examinationId != null"> 
				examination_id = #{examinationId},
			</if>
,			<if test="applicantId != null"> 
				applicant_id = #{applicantId},
			</if>
,			<if test="examinationType != null"> 
				examination_type = #{examinationType},
			</if>
,			<if test="examinationCat != null"> 
				examination_cat = #{examinationCat},
			</if>
,			<if test="examinationCertificateNo != null"> 
				examination_certificate_no = #{examinationCertificateNo},
			</if>
,			<if test="theroyScore != null"> 
				theroy_score = #{theroyScore},
			</if>
,			<if test="theroyGrade != null"> 
				theroy_grade = #{theroyGrade},
			</if>
,			<if test="handleScore != null"> 
				handle_score = #{handleScore},
			</if>
,			<if test="handleGrade != null"> 
				handle_grade = #{handleGrade},
			</if>
,			<if test="grade != null"> 
				grade = #{grade},
			</if>
,			<if test="examinationNo != null"> 
				examination_no = #{examinationNo},
			</if>
,			<if test="gradeTime != null"> 
				grade_time = #{gradeTime},
			</if>
,			<if test="fullname != null"> 
				fullname = #{fullname},
			</if>
,			<if test="gender != null"> 
				gender = #{gender},
			</if>
,			<if test="identityType != null"> 
				identity_type = #{identityType},
			</if>
,			<if test="identityNo != null"> 
				identity_no = #{identityNo},
			</if>
,			<if test="occupation != null"> 
				occupation = #{occupation},
			</if>
,			<if test="applicationLevel != null"> 
				application_level = #{applicationLevel},
			</if>
		</set> 
		where examination_id = #{examinationId}
	</update>

	<select id="selectByPrimaryKey" resultMap="ExaminationResultResultMap" parameterType="int">
		select examination_id, applicant_id, examination_type, examination_cat, examination_certificate_no, theroy_score, theroy_grade, handle_score, handle_grade, grade, examination_no, grade_time, fullname, gender, identity_type, identity_no, occupation, application_level 
		from examination_result 
		where examination_id = #{id}
	</select>

	<!-- START 写在START和END中间的代码不会被替换 -->

	<!-- END 写在START和END中间的代码不会被替换-->

</mapper>