<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="null.SequenceMapper">
	<resultMap id="SequenceResultMap" type="Sequence">
		<result column="id" property="id" />
		<result column="stub" property="stub" />
	</resultMap>

	<sql id="all_column">
		id, stub
	</sql>

	<sql id="limit">
		<if test="limit != null">
			limit
			<if test="offset != null">
			#{offset},
			</if>
			#{limit}
		</if>
	</sql>

	<insert id="insert" parameterType="Sequence">
		insert into 
		sequence(id,stub) 
		values(#{id},#{stub})
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="long">
		delete from sequence 
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="Sequence">
		update sequence
		<set>
 			<if test="id != null"> 
				id = #{id},
			</if>
,			<if test="stub != null"> 
				stub = #{stub},
			</if>
		</set> 
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="SequenceResultMap" parameterType="long">
		select id, stub 
		from sequence 
		where id = #{id}
	</select>

	<!-- START 写在START和END中间的代码不会被替换 -->

	<!-- END 写在START和END中间的代码不会被替换-->

</mapper>