<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="null.StudyHistoryMapper">
	<resultMap id="StudyHistoryResultMap" type="StudyHistory">
		<result column="study_history_id" property="studyHistoryId" />
		<result column="applicant_id" property="applicantId" />
		<result column="study_history_sum_id" property="studyHistorySumId" />
		<result column="course_id" property="courseId" />
		<result column="study_time" property="studyTime" />
		<result column="status" property="status" />
		<result column="course_name" property="courseName" />
		<result column="course_type" property="courseType" />
		<result column="description" property="description" />
		<result column="course_time" property="courseTime" />
		<result column="occupation" property="occupation" />
		<result column="application_level" property="applicationLevel" />
		<result column="fullname" property="fullname" />
		<result column="gender" property="gender" />
		<result column="identity_type" property="identityType" />
		<result column="identity_no" property="identityNo" />
	</resultMap>

	<sql id="all_column">
		study_history_id, applicant_id, study_history_sum_id, course_id, study_time, status, course_name, course_type, description, course_time, occupation, application_level, fullname, gender, identity_type, identity_no
	</sql>

	<sql id="limit">
		<if test="limit != null">
			limit
			<if test="offset != null">
			#{offset},
			</if>
			#{limit}
		</if>
	</sql>

	<insert id="insert" parameterType="StudyHistory">
		insert into 
		study_history(study_history_id,applicant_id,study_history_sum_id,course_id,study_time,status,course_name,course_type,description,course_time,occupation,application_level,fullname,gender,identity_type,identity_no) 
		values(#{studyHistoryId},#{applicantId},#{studyHistorySumId},#{courseId},#{studyTime},#{status},#{courseName},#{courseType},#{description},#{courseTime},#{occupation},#{applicationLevel},#{fullname},#{gender},#{identityType},#{identityNo})
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from study_history 
		where study_history_id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="StudyHistory">
		update study_history
		<set>
 			<if test="studyHistoryId != null"> 
				study_history_id = #{studyHistoryId},
			</if>
,			<if test="applicantId != null"> 
				applicant_id = #{applicantId},
			</if>
,			<if test="studyHistorySumId != null"> 
				study_history_sum_id = #{studyHistorySumId},
			</if>
,			<if test="courseId != null"> 
				course_id = #{courseId},
			</if>
,			<if test="studyTime != null"> 
				study_time = #{studyTime},
			</if>
,			<if test="status != null"> 
				status = #{status},
			</if>
,			<if test="courseName != null"> 
				course_name = #{courseName},
			</if>
,			<if test="courseType != null"> 
				course_type = #{courseType},
			</if>
,			<if test="description != null"> 
				description = #{description},
			</if>
,			<if test="courseTime != null"> 
				course_time = #{courseTime},
			</if>
,			<if test="occupation != null"> 
				occupation = #{occupation},
			</if>
,			<if test="applicationLevel != null"> 
				application_level = #{applicationLevel},
			</if>
,			<if test="fullname != null"> 
				fullname = #{fullname},
			</if>
,			<if test="gender != null"> 
				gender = #{gender},
			</if>
,			<if test="identityType != null"> 
				identity_type = #{identityType},
			</if>
,			<if test="identityNo != null"> 
				identity_no = #{identityNo},
			</if>
		</set> 
		where study_history_id = #{studyHistoryId}
	</update>

	<select id="selectByPrimaryKey" resultMap="StudyHistoryResultMap" parameterType="int">
		select study_history_id, applicant_id, study_history_sum_id, course_id, study_time, status, course_name, course_type, description, course_time, occupation, application_level, fullname, gender, identity_type, identity_no 
		from study_history 
		where study_history_id = #{id}
	</select>

	<!-- START 写在START和END中间的代码不会被替换 -->

	<!-- END 写在START和END中间的代码不会被替换-->

</mapper>