<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="null.TestMapper">
	<resultMap id="TestResultMap" type="Test">
		<result column="id" property="id" />
		<result column="name" property="name" />
	</resultMap>

	<sql id="all_column">
		id, name
	</sql>

	<sql id="limit">
		<if test="limit != null">
			limit
			<if test="offset != null">
			#{offset},
			</if>
			#{limit}
		</if>
	</sql>

	<insert id="insert" parameterType="Test">
		insert into 
		test(id,name) 
		values(#{id},#{name})
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from test 
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKey" parameterType="Test">
		update test
		<set>
 			<if test="id != null"> 
				id = #{id},
			</if>
,			<if test="name != null"> 
				name = #{name},
			</if>
		</set> 
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="TestResultMap" parameterType="int">
		select id, name 
		from test 
		where id = #{id}
	</select>

	<!-- START 写在START和END中间的代码不会被替换 -->

	<!-- END 写在START和END中间的代码不会被替换-->

</mapper>